@import "vars"

button
    padding: 20px 40px
    background: white
    border: $border
    outline: 0
    text-transform: uppercase
    cursor: pointer
    font-size: 1.6em
    color: $primary-colour
    border-radius: 2px
    font-weight: bold
    letter-spacing: 3px
    font-family: $font-family

    &.secondary
        color: $secondary-colour

    &:active
        transform: scale(1.1)

input[type="text"]
    margin: 20px 0
    padding: 10px 20px
    width: 70%
    border: $border
    text-transform: uppercase
    border-radius: 2px