body
    background: #f2f2f2
    margin: 0
    padding: 0
    overflow: hidden
    font-family: 'Comfortaa', cursive
    font-size: 10px
    color: black

h1
    text-transform: lowercase
    margin: 40px 0
    letter-spacing: 20px
    margin-left: 10px
    font-size: 4em
    border-top: 1px solid crimson
    border-bottom: 1px solid darkturquoise
    padding: 20px

h2
    text-transform: uppercase
    font-size: 2em
    margin: 0
    padding: 0

p, span
    margin: 0
    padding: 0
    font-size: 1.6em
    letter-spacing: 1px

.slider
    width: 100%
    max-width: 600px
    margin: 0 auto
    transition: transform 0.4s

    > .slide
        height: 100vh

        &.home, &.guess
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

        &.canvas
            display: flex
            flex-direction: column
            justify-content: flex-start

            > header
                display: flex
                flex-direction: row
                align-items: center
                padding: 10px
                border-bottom: 1px solid black
                flex-grow: 0

                > .word
                    flex-grow: 1
                    text-align: center
                    animation: wiggle 10s infinite

                > .action
                    color: darkturquoise
                    text-transform: uppercase
                    display: flex
                    flex-direction: column
                    flex-grow: 0
                    text-align: right

                    span:not(.timer)
                        text-decoration: underline
                        font-weight: bold

                    > .timer
                        margin-top: 5px
                        color: crimson
                        font-family: monospace

            > section
                flex-grow: 1
                background-color: white

        &.guess
            > .images
                display: flex
                flex-direction: row

                .image
                    height: 150px

@keyframes wiggle
    0%
        transform: rotate(0deg)
    93%
        transform: rotate(0deg)
    94%
        transform: rotate(15deg) scale(1.15)
    97%
        transform: rotate(-10deg) scale(1.15)
    100%
        transform: rotate(0deg) scale(1)